@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

html,
body {
  background-color: rgb(49, 54, 59);
  margin: 0;
  color: blanchedalmond;
  font-family: Noto Sans, Tahoma;
}
button {
  color: blanchedalmond;
  background-color: rgb(0, 188, 212);
  border-radius: 4px;
  border: none;
  font-family: Noto Sans, Tahoma;
  outline: none;
}
a {
  color: blanchedalmond;
  height: 100%;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
::-webkit-scrollbar {
  display: none;
}

.misc > div {
  display: inline-block;
}

.button1 {
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  position: relative;
  width: calc(100vw - 26px);
  background-color: rgb(0, 188, 212);
  border: 1px rgb(0, 188, 212);
  border-radius: 3px;
  margin-top: 1px;
  text-align: center;
  vertical-align: top;
  font-family: Noto Sans, Tahoma;
  font-size: 11px;
}

.link {
  text-decoration: none;
  outline: 0;

  height: 18px;
  cursor: pointer;
}
.nolink {
  text-decoration: none;
  outline: 0;
  padding-top: 5px;
  height: 18px;
}
.requestMessage {
  max-width: 80%;
  overflow-y: hidden;
  padding-left: 10%;
}

.button2 {
  margin-left: 2px;
  width: 23px;
  height: 23px;
  text-align: center;
  border: none;
}
.buttonPause {
  position: absolute;
  margin-top: 1.5px;
  margin-left: 2px;
  width: 23px;
  height: 23px;
  text-align: center;
}
.buttonPaused {
  position: absolute;
  margin-top: 1.5px;
  margin-left: 2px;
  width: 23px;
  height: 23px;
  background-color: rgb(240, 98, 146, 0.5);
  border: rgb(240, 98, 146, 0.5);
  text-align: center;
}

.buttonStart {
  font-size: 11px;
  height: 23px;
  width: 100vw;
  text-align: center;
}
.buttonStop {
  outline: none;
  font-size: 11px;
  height: 23px;
  width: calc(100vw - 26px);
  background-color: rgb(240, 98, 146, 0.5);
  text-align: center;
}

.button:hover,
.button1:hover,
.button2:hover,
.buttonStart:hover,
.buttonPause:hover,
.buttonShow:hover,
.buttonReload:hover {
  background-color: rgba(240, 98, 146, 0.5);
}

.empty {
  position: absolute;
  margin-top: -13px;
  pointer-events: none;
  width: 100vw;
  height: 23px;
}
.emptyInteract {
  position: absolute;
  margin-top: -13px;

  width: 100vw;
  height: 23px;
}
.firstempty {
  position: absolute;
  margin-top: -12px;
  pointer-events: none;
  width: 100vw;
  height: 23px;
}
.firstemptyInteract {
  position: absolute;
  margin-top: -12px;
  width: 100vw;
  height: 23px;
}
.notHovering {
  display: none;
  pointer-events: none;
  position: absolute;
}
.hovering {
  height: 2px;
  width: 100vw;
  position: absolute;
  pointer-events: none;
  border-top: 2px solid green;
}

.dragging {
  pointer-events: none;
}
.settingsContainer {
  margin-left: 5px;
  padding-bottom: 5px;
}
.settingsType {
  font-size: 22px;
}
.settingContainer {
  height: 22px;
  font-size: 15px;
}
.typeContainer {
  margin-bottom: 5px;
}
.settingTitle {
  min-width: 80px;
}
.settingValue {
  width: 25px;
}
.editGoalsContainer,
.editRedemptionsContainer {
  margin-left: 2px;
}
.goalContainer,
.redemptionContainer {
  display: inline-flex;
  width: 100%;
  font-size: 18px;
}
.goalTitle,
.redemptionTitle {
  min-width: 50%;
}
.fieldContainer {
  display: inline-flex;
  width: 100%;
  font-size: 15px;
  margin-left: 5px;
}
.fieldTitle {
  min-width: 25%;
}
.header,
.footer {
  flex: none;
}

.requestsContainer {
  margin-top: 0.5px;
  overflow-y: scroll;
  flex: auto;
}
.goals {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vw;
}
.goal {
  flex: auto;
  border-radius: 4px;
  margin: 1px;
}
.footerButtons {
  display: flex;
  margin-top: 4px;
}
.footerButtons > button {
  flex: auto;
  margin: 1px;
  margin-top: -2px;
}
