@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  background-color: transparent;
  margin: 0;
  padding: 0px;
  overflow-y: scroll;
  margin-top: 4px;
}
::-webkit-scrollbar {
  display: none;
}
.timer > div {
  display: inline-block;
}
.misc > div {
  display: inline-block;
}
.buttonReload {
  height: 23px;
  width: calc(50vw - 1px);
  background-color: rgb(0, 188, 212);
  border: rgb(0, 188, 212);
  border-radius: 3px;
  color: white;
  text-align: center;
  margin-top: 2px;
  margin-bottom: -14px;
  margin-right: 2px;
  outline: none;
  font-family: Noto Sans, Tahoma;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
}
.buttonShow {
  height: 23px;
  width: calc(50vw - 1px);
  background-color: rgb(0, 188, 212);
  border: rgb(0, 188, 212);
  border-radius: 3px;
  color: white;
  text-align: center;
  margin-top: 2px;
  margin-bottom: -14px;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  font-family: Noto Sans, Tahoma;
  font-size: 11px;
}
.button1 {
  display: inline-block;
  outline: none;
  position: relative;
  height: 23px;
  width: calc(100vw - 26px);
  background-color: rgb(0, 188, 212);
  border: 1px rgb(0, 188, 212);
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: -4px;
}

.link {
  text-decoration: none;
  font-family: Noto Sans, Tahoma;
  font-size: 11px;
  color: white;
  outline: 0;
  position: absolute;
  width: calc(100% - 26px);
  padding-top: 5px;
  height: 23px;
  text-align: center;
  white-space: nowrap;
}
.requestMessage {
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
}
.link:hover {
  cursor: default;
}
.header {
  margin-bottom: 3px;
}
.button2 {
  margin-left: 2px;
  position: absolute;
  margin-top: 2px;
  width: 23px;
  height: 23px;
  background-color: rgb(0, 188, 212);
  border: rgb(0, 188, 212);
  border-radius: 3px;
  color: white;
  text-align: center;
}
.buttonPause {
  position: absolute;
  margin-top: 1px;
  margin-left: 2px;
  width: 23px;
  height: 23px;
  background-color: rgb(0, 188, 212);
  border: rgb(0, 188, 212);
  border-radius: 3px;
  color: white;
  text-align: center;
}
.buttonPaused {
  position: absolute;
  margin-top: 1px;
  margin-left: 2px;
  width: 23px;
  height: 23px;
  background-color: rgb(240, 98, 146, 0.5);
  border: rgb(240, 98, 146, 0.5);
  border-radius: 3px;
  color: white;
  text-align: center;
}

.buttonStart {
  font-family: Noto Sans, Tahoma;
  font-size: 11px;
  height: 23px;
  width: 100vw;
  background-color: rgb(0, 188, 212);
  border: rgb(0, 188, 212);
  border-radius: 3px;
  color: white;
  text-align: center;
  margin-bottom: -16px;
  margin-top: 2px;
}
.buttonStop {
  outline: none;
  font-family: Noto Sans, Tahoma;
  font-size: 11px;
  height: 23px;
  width: calc(100vw - 26px);
  background-color: rgb(240, 98, 146, 0.5);
  border: rgb(0, 188, 212);
  border-radius: 3px;
  color: white;
  text-align: center;
  margin-bottom: -16px;
}

.button:hover,
.button1:hover,
.button2:hover,
.buttonStart:hover,
.buttonPause:hover,
.buttonShow:hover,
.buttonReload:hover {
  background-color: rgba(240, 98, 146, 0.5);
}

.empty {
  position: absolute;
  margin-top: -11px;
  pointer-events: none;
  width: 100vw;
  height: 20px;
}
.emptyInteract {
  position: absolute;
  margin-top: -11px;
  width: 100vw;
  height: 20px;
}
.firstempty {
  position: absolute;
  margin-top: -12px;
  pointer-events: none;
  width: 100vw;
  height: 20px;
}
.firstemptyInteract {
  position: absolute;
  margin-top: -12px;
  width: 100vw;
  height: 20px;
}
.notHovering {
  display: none;
  pointer-events: none;
  position: absolute;
}
.hovering {
  height: 2px;
  width: 100vw;
  position: absolute;
  pointer-events: none;
  border-top: 2px solid green;
}
.dragging {
  pointer-events: none;
}
